.categoryList {
    margin-top: 2.1875rem;
    margin-bottom: 3.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;

    .categoryItem {
        padding: 0.625rem 1.5625rem;
        border-radius: 0.625rem;
        font-size: .875rem;
    }

    .categoryItem.style {
        background-color: #57c4ff31;
    }

    .categoryItem.fashion {
        background-color: #da85c731;
    }

    .categoryItem.food {
        background-color: #7fb88133;
    }

    .categoryItem.travel {
        background-color: #ff795736;
    }

    .categoryItem.culture {
        background-color: #ffb04f45;
    }

    .categoryItem.coding {
        background-color: #5e4fff31;
    }
}