.container {
    flex: 2;
    margin-top: 3.75rem;

    .subTitle {
        color: gray;
        font-size: 1rem;
        font-weight: 400;
    }

    .title {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 64rem) {
    .container {
      display: none;
    }
}