.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.25rem;

    .social {
        display: flex;
        flex: 1;
        gap: .625rem;
    }

    .logo {
        flex: 1;
        text-align: center;
        font-size: 2.25rem;
        font-weight: bold;
    }

    .links {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 1.25rem;
        font-size: 1.25rem;
    }

}

@media screen and (max-width: 80rem) {
    .container > .logo {
        font-size: 2rem;
    }

    .container > .links {
        font-size: 1.125rem;
        gap: 1rem;
    }
}

@media screen and (max-width: 64rem) {
    .container > .social {
        display: none;
    }

    .container > .logo {
        text-align: left;
    }
}

@media screen and (max-width: 48rem) {
    .container > .logo {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 40rem) {
    .container > .links {
        justify-content: flex-end;
    }    

    .container > .links > .link {
        display: none;
    }
}
